<%- include('../layouts/head.ejs') %>
<body>
  <%- include('../layouts/nav.ejs') %>
  <main class="main">
    <div class="task-form">
      <form method="POST">
        <input
          class="input"
          type="text"
          name="task"
          placeholder="I need to..."
        />
        <button class="task-form__button button" type="submit">Create</button>
      </form>

      <% if (success === true) { %>
      <div class="alert alert--success">Task was added!</div>
      <% } else if (success === false) { %> <% if (task.length >= 3) { %>
      <div class="alert alert--error">Task <%= task %> already exists!</div>
      <% } else { %>
      <div class="alert alert--error">
        Minimal length for task name is 3 letter!
      </div>
      <% } %> <% } else {} %>
    </div>

    <h2>Todo List</h2>
    <% if (taskList.length === 0) { %>
    <h3 class="no-tasks">There is no tasks.</h3>
    <% } else { %> <%- include('../layouts/taskList.ejs', { taskList: taskList
    }) %> <% } %>
  </main>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/scripts/index.js"></script>
</body>
